<div class="col horoscopo">
  <div class="row">
    <div class="col">

      <mat-form-field appearance="outline">
        <mat-label>Selecciona el dia...</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selected" [max]="fechaMaxima">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>



    </div>
    <div class="colInfo">
      <div class="row" *ngIf="selected!=null">
        <h2 style="text-align: center; color: white;">Horóscopo del dia {{selected | date: 'dd/MM/yyyy'}}</h2>
        <div class="row">
          <div class="col" style="text-align: center; margin-left: 40%; margin-right: 40%;">
            <img src="{{hoscopoAries[selected.getDate()!-1].imagen}}">
          </div>
        </div>
        <div class="row">
          <div class="col-3-md">
          </div>
          <div class="col-3-md">
            <p style="text-align: justify; margin-left: 40%; margin-right: 40%; color: white;">
              {{hoscopoAries[selected.getDate()!-1].informacion}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
