<div class="col horoscopo">
  <div class="row">
    <div class="col">

      <mat-form-field appearance="outline">
        <mat-label>Selecciona el dia...</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selected" [max]="fechaMaxima">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>



    </div>
    <div class="colInfo">
      <div class="row" *ngIf="selected!=null">
        <h2 style="text-align: center; color: white;">Horóscopo del dia {{selected | date: 'dd/MM/yyyy'}}</h2>
                <div class="row">
          <div class="col-3-md">
          </div>
          <div class="col-3-md" >
            <div style="text-align: center; margin-left: 37%; margin-right: 34%;">
              <img height="300 px" src="{{hoscopoAries[selected.getDate()!-1].imagen}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3-md">
          </div>
          <div class="col-3-md">
            <p style="text-align: justify; margin-left: 37%; margin-right: 34%; color: white;">
              {{hoscopoAries[selected.getDate()!-1].informacion}}
            </p>
          </div>
        </div>
      </div>
    </div>
<br><br>
<br>
    <!-- <div class="colInfo">
      <div class="col columnalikes">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Fecha 01-11-2022</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Icon</div>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon matBadge="10" matBadgeColor="warn">rate_review</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon matBadge="15" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
        </div>
      </div>
      </div>
    </div> -->


  </div>
</div>
