<!-- Cards with media area -->
<div class="container-fluid cont">
  <br>
  <br>

  <div class="col">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo mas visto</h2>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Fecha 01-11-2022</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Icon</div>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                    (click)="dejarComentario(1)">
                    <mat-icon matBadge="{{comentarios1}}" matBadgeColor="warn">rate_review</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(1)">
                    <mat-icon matBadge="{{likes1}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h2 class="card-title">Horóscopo con mas Likes</h2>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top">
            <br>
            <br>
            <p class="card-text">Fecha 01-11-2022</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <mat-divider></mat-divider>
            <section>
              <div class="example-label">Icon</div>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                    (click)="dejarComentario(2)">
                    <mat-icon matBadge="{{comentarios2}}" matBadgeColor="warn">rate_review</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                    (click)="subirLikes(2)">
                    <mat-icon matBadge="{{likes2}}" matBadgeColor="warn">favorite</mat-icon>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
